server {
  listen 80 default_server;
  listen [::]:80 default_server;

  root                    /www;
  index                   index.html;
  server_name             {{inventory_hostname}};
  client_max_body_size    32m;
  error_page              500 502 503 504  /50x.html;

  location = /50x.html {
    root              /www;
  }
}
